Repository OverlayPlugin/cactbot, pull requests merged in 2023-12, with the labels that each got.

#1 resources/docs: change quisquous => OverlayPlugin
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/scripts/auto-label.cjs
  .github/scripts/lint-pr-title.cjs
  .github/workflows/README.md
  .github/workflows/release.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/CactbotCustomization.md
  docs/FAQ-Troubleshooting.md
  docs/Headmarkers.md
  docs/LogGuide.md
  docs/MemorySignatures.md
  docs/OopsyraidsyGuide.md
  docs/PatchUpdateChecklist.md
  docs/RaidbossGuide.md
  docs/RemoteCactbot.md
  docs/TimelineGuide.md
  docs/ko-KR/CactbotCustomization.md
  docs/ko-KR/README.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-CN/MemorySignatures.md
  docs/zh-CN/README.md
  docs/zh-CN/RaidbossGuide.md
  docs/zh-CN/TimelineGuide.md
  docs/zh-TW/CactbotCustomization.md
  eslint/cactbot-locale-order.js
  eslint/cactbot-output-strings.js
  eslint/cactbot-response-default-severities.js
  eslint/cactbot-timeline-triggers.js
  eslint/cactbot-trigger-property-order.js
  eslint/cactbot-triggerset-property-order.js
  package.json
  plugin/CactbotEventSource/VersionChecker.cs
  resources/netregexes.ts
  resources/regexes.ts
  ui/raidboss/data/03-hw/raid/a7s.txt
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/raidboss_config.ts
  util/coverage/coverage.ts
  util/gen_coverage_report.ts
Labels: docs, 💬ko, 💬cn, style, resources, raidboss, config, util, 💬de, 💬ja, 💬fr, ci, plugin

#2 docs/build: broken link fixups
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  docs/FAQ-Troubleshooting.md
  docs/PatchUpdateChecklist.md
  docs/TimelineGuide.md
  docs/zh-CN/TimelineGuide.md
  eslint/cactbot-locale-order.js
  eslint/cactbot-triggerset-property-order.js
Labels: docs, 💬cn, style

#3 build: do release directly without draft
  .github/workflows/release.yml
Labels: ci

#4 build: Bump version to 0.31.0
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#6 plugin: update act plugin id
  plugin/CactbotEventSource/VersionChecker.cs
Labels: plugin

#7 build: Bump version to 0.31.1
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#9 docs: update code of conduct email
  CODE_OF_CONDUCT.md
Labels: docs

#8 docs: update contributing guide for code review
  CONTRIBUTING.md
Labels: docs

#10 docs: fix links to raidboss guide non-existing anchor
  eslint/cactbot-output-strings.js
  eslint/cactbot-response-default-severities.js
  eslint/cactbot-timeline-triggers.js
  eslint/cactbot-trigger-property-order.js
Labels: style

#11 docs: update zh-cn customisation guide
  docs/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
Labels: docs, 💬cn

#12 i18n: Thaleia alliance FR Update
  ui/raidboss/data/06-ew/alliance/thaleia.ts
Labels: raidboss, 💬fr

#13 docs: remove future work for new keywords
  docs/TimelineGuide.md
Labels: docs

#16 docs: remove future work for highlight
  docs/TimelineGuide.md
Labels: docs

#15 util: fix encounter start bug in make/test timeline scripts
  docs/TimelineGuide.md
  resources/netregexes.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: docs, resources, util

#17 util: add analysis filter to log splitter
  docs/TimelineGuide.md
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
  util/logtools/split_log.ts
  util/logtools/splitter.html
  util/logtools/splitter.ts
  util/logtools/web_splitter.ts
Labels: docs, util

#19 util: improve empty-name actor logic in make_timeline
  util/logtools/make_timeline.ts
Labels: util

#20 i18n: update zh-cn readme
  docs/zh-CN/README.md
Labels: docs, 💬cn

#22 i18n: fix zh-cn readme link error
  docs/zh-CN/README.md
Labels: docs, 💬cn

#23 i18n: added new translations
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p7n.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
  util/logtools/web_splitter.ts
Labels: raidboss, util, 💬de

#24 i18n: Lunar subterrane FR update
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
Labels: raidboss, 💬fr

#25 i18n: FR translation update
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
Labels: raidboss, 💬fr

#27 i18n: More FR translations
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/03-hw/raid/a7s.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_lost_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss, 💬fr, oopsy
