Repository OverlayPlugin/cactbot, pull requests merged in 2024-12, with the labels that each got.

#521 i18n: missing cn translations
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
Labels: raidboss, needs-review

#520 i18n: rest of the de translations for dt
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.txt
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.txt
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss, 💬de

#522 raidboss: additional FRU p1 tower explosion ids
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss, needs-review, auto-merge

#516 raidboss: Basic FRU P1 triggers
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#523 plugin: ko 7.0 signatures and memory
  plugin/CactbotEventSource/FFXIVProcessKo.cs
Labels: plugin

#524 resources: ko 7.0
  resources/hunt.ts
  resources/pet_names.ts
  resources/zone_info.ts
  ui/jobs/jobs.ts
Labels: 💬ko, resources, jobs

#525 i18n: update KO 7.0 translations
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
Labels: 💬ko, raidboss

#528 i18n: fru translations
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss, 💬de

#530 i18n: FRU p1 CN/JA translations
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬cn, raidboss, 💬ja

#531 raidboss: Fix minor bug with `TimelineParser.Translate`
  ui/raidboss/timeline_parser.ts
Labels: raidboss

#271 build: update typescript and its friend to 5.1
  .eslintrc.cjs
  .github/scripts/npm-package.cjs
  .mocharc.cjs
  package-lock.json
  package.json
  test/unittests/compile_test.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.webpack.json
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/raidboss_config.ts
  util/find_missing_timeline_translations.ts
Labels: raidboss, config, util, ci, test

#462 build: Update actions/setup-node to v4
  .github/actions/setup-js-env/action.yml
Labels: ci, needs-review, auto-merge

#533 i18n: FRU p1 KO translations
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, raidboss, needs-review

#526 raidboss: FRU P2 initial triggers
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss

#534 build: Bump version to 0.33.2
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#536 build: Fix NPM package creation errors #535
  .github/scripts/npm-package.cjs
  tsconfig.npm.json
Labels: ci

#539 raidboss: fix FRU P2 Icicle Impact
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss, needs-review, auto-merge

#537 raidboss: Improvements to FRU P2 timeline
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss

#540 build: Bump version to 0.33.3
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#541 raidboss: FRU P2+adds timeline tweaks
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss

#546 resources: 7.15 updates
  resources/content_list.ts
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#548 resources: ko 7.01
  resources/zone_info.ts
Labels: 💬ko, resources

#549 i18n: ko 7.01
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss

#547 util: update coverage report for Chaotic raids
  util/coverage/coverage.ts
  util/gen_coverage_report.ts
Labels: util

#552 oopsy: Add `damage` type to oopsy summary table
  ui/oopsyraidsy/oopsy_summary_list.ts
Labels: oopsy

#553 resources: Update caresAboutAOE
  resources/conditions.ts
Labels: resources
