Repository OverlayPlugin/cactbot, pull requests merged in 2024-06, with the labels that each got.

#153 raidboss: Timeline CombatantMemory support
  test/helper/test_timeline.ts
  ui/raidboss/timeline_parser.ts
  util/find_missing_timeline_translations.ts
  util/logtools/test_timeline.ts
Labels: raidboss, util, test

#143 util: anonymizer support for 'possible' playerid fields
  resources/netlog_defs.ts
  util/logtools/anonymizer.ts
  util/logtools/notifier.ts
  util/logtools/splitter.css
  util/logtools/web_splitter.ts
Labels: resources, util

#163 util: add anonymizer support for repeating fields
  resources/netlog_defs.ts
  util/logtools/anonymizer.ts
Labels: resources, util

#139 test: automate regex tests
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/helper/example_log_lines_test_data.ts
  test/helper/regex_util.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  util/example_log_lines.ts
  util/gen_log_guide.ts
Labels: docs, resources, util, test

#154 raidboss: UCOB timeline phase sync fixes
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
Labels: raidboss

#165 util: suppress i18n errors for example log lines
  util/example_log_lines.ts
  util/find_missing_translations.ts
  util/gen_log_guide.ts
Labels: util

#166 raidemulator: Fix bug with set parser language
  ui/raidboss/emulator/data/RaidEmulator.ts
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
Labels: needs-review, raidemulator

#167 resources: ko-6.55
  resources/zone_info.ts
Labels: 💬ko, resources

#168 i18n: ko-6.55
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: raidboss

#173 config: add DT to config ui
  ui/config/config.ts
Labels: config, needs-review, auto-merge

#174 util: add DT to coverage
  util/coverage/coverage.ts
Labels: util, needs-review, auto-merge

#175 resources: add DT job enums and types
  resources/party.ts
  resources/util.ts
  types/job.d.ts
  ui/jobs/components/index.ts
  ui/jobs/components/pct.ts
  ui/jobs/components/vpr.ts
Labels: resources, needs-review, jobs, auto-merge

#176 i18n: add jobs name translations
  resources/party.ts
Labels: resources, 💬de, 💬ja, 💬fr, needs-review

#177 resources: add new DT job icons
  resources/ffxiv/jobs/pct-framed.png
  resources/ffxiv/jobs/pct.png
  resources/ffxiv/jobs/vpr-framed.png
  resources/ffxiv/jobs/vpr.png
Labels: resources

#180 raidboss: remove remaining outdated dungeon files
  ui/oopsyraidsy/data/04-sb/dungeon/ghimlyt_dark64.ts
  ui/oopsyraidsy/data/04-sb/dungeon/the_burn64.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark64.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark64.txt
  ui/raidboss/data/04-sb/dungeon/the_burn64.ts
  ui/raidboss/data/04-sb/dungeon/the_burn64.txt
Labels: raidboss, oopsy, auto-merge

#181 docs: Add animation lock to AbilityExtra
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/helper/example_log_lines_test_data.ts
  util/example_log_lines.ts
Labels: docs, resources, util, test, auto-merge

#178 resources: patch 7.0 data updates
  resources/effect_id.ts
  resources/hunt.ts
  resources/pet_names.ts
  resources/weather_rate.ts
  resources/world_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/jobs/components/pld.ts
  util/gen_effect_id.ts
  util/gen_hunt_data.ts
  util/gen_zone_id_and_info.ts
  util/zone_overrides.ts
Labels: 💬ko, 💬cn, resources, util, 💬de, 💬ja, 💬fr, jobs

#183 docs: Revert "Add animation lock to AbilityExtra" (#181)
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/helper/example_log_lines_test_data.ts
  util/example_log_lines.ts
Labels: docs, resources, util, test

#184 docs: update broken link
  docs/PatchUpdateChecklist.md
Labels: docs, needs-review, auto-merge

#185 resources: update 7.0 content list
  resources/content_list.ts
Labels: resources, needs-review, auto-merge
