Repository OverlayPlugin/cactbot, pull requests merged in 2024-09, with the labels that each got.

#400 raidboss: add Sansheya (S-rank: Shaaloani)
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
Labels: raidboss, needs-review

#401 raidboss: add The Forecaster (S-rank: Living Memory)
  ui/raidboss/data/07-dt/hunts/living_memory.ts
Labels: raidboss, needs-review

#403 raidboss: fix AntivirusX Interferon Collect
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
Labels: raidboss

#404 raidboss: add Neyoozoteel (S-rank: Yak T'el)
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: raidboss, needs-review

#405 raidboss: add Ihnuxokiy (S-rank: Kozama'uka)
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
Labels: raidboss

#406 raidboss: add Arch Aethereater (DT SS-rank)
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#408 raidboss: add Kirlirger (S-rank: Urqopacha)
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
Labels: raidboss

#409 i18n: hunt translations
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: raidboss, 💬de

#407 build: Version bump to 0.32.9
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#411 i18n: more FR translations
  ui/oopsyraidsy/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
Labels: raidboss, 💬fr, oopsy, needs-review, auto-merge

#412 raidboss: fix mistaken translation edit to Atticus
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
Labels: raidboss

#413 raidemulator: fix overworld combat incorrect zone detection
  ui/raidboss/emulator/data/LogEventHandler.ts
Labels: raidemulator

#414 i18n: small translation fixes
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: raidboss, 💬de, needs-review

#415 i18n: fix mistaken FR translation (Atticus)
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
Labels: raidboss, 💬fr, needs-review

#416 i18n: misc + r4s FR translation
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬fr, oopsy, needs-review, auto-merge

#417 oopsy: update abilityIds for overwritten mit tracker
  ui/oopsyraidsy/data/00-misc/general.ts
Labels: oopsy

#358 raidboss: add support for live countdowns
  docs/RaidbossGuide.md
  types/trigger.d.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/popup-text.ts
Labels: docs, raidboss

#419 i18n: add timeline replace for CN client
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬cn, raidboss

#418 i18n: add CN jobs name translations
  resources/party.ts
Labels: 💬cn, resources

#420 resources: cn-7.0
  resources/hunt.ts
  resources/pet_names.ts
  resources/zone_info.ts
Labels: 💬cn, resources

#423 i18n: cn-7.0 missing cn translations
  ui/oopsyraidsy/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  util/logtools/generate_triggers.ts
Labels: 💬cn, raidboss, util, oopsy

#433 i18n: update KO translations (hunts)
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: 💬ko, raidboss

#425 oopsy: add support for r1n
  ui/oopsyraidsy/data/07-dt/raid/r1n.ts
Labels: oopsy

#426 oopsy: add support for r2n
  ui/oopsyraidsy/data/07-dt/raid/r2n.ts
Labels: oopsy

#427 oopsy: add support for r3n
  ui/oopsyraidsy/data/07-dt/raid/r3n.ts
Labels: oopsy

#428 oopsy: add support for r4n
  ui/oopsyraidsy/data/07-dt/raid/r4n.ts
Labels: oopsy

#424 oopsy: update buff map with DT/7.0 changes
  ui/oopsyraidsy/buff_map.ts
Labels: oopsy

#434 raidboss: additional Cat's Eye Bloodshot Gaze trigger
  ui/raidboss/data/07-dt/hunts/living_memory.ts
Labels: raidboss

#436 plugin: update signatures and memory for cn 7.0
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#437 i18n: Cat's Eye Bloodshot Gaze cn translation
  ui/raidboss/data/07-dt/hunts/living_memory.ts
Labels: 💬cn, raidboss, needs-review

#432 raidboss: add callout to swap or stay during XFold Blast
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss

#439 oopsy: add support for tracking overwritten party damage CDs
  ui/oopsyraidsy/data/00-misc/general.ts
  ui/oopsyraidsy/oopsy_options.ts
Labels: 💬ko, 💬cn, 💬de, 💬ja, 💬fr, oopsy

#441 build: Version bump to 0.32.10
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review

#442 jobs: update CN patch
  ui/jobs/jobs.ts
Labels: 💬cn, needs-review, jobs

#431 raidboss: add chasm of vollok callout configuration
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss

#446 util: fix null check in find_missing_translations
  util/find_missing_timeline_translations.ts
Labels: util, needs-review, auto-merge

#445 raidemulator: re-order validation checks for delay prop
  ui/raidboss/emulator/overrides/RaidEmulatorPopupText.ts
Labels: needs-review, raidemulator, auto-merge

#444 raidboss: fix race condition in EverkeepEx Forged Track
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss, needs-review, auto-merge

#443 raidboss: fix bug in Vali normal timeline
  ui/raidboss/data/07-dt/trial/valigarmanda.txt
Labels: raidboss, needs-review, auto-merge

#448 i18n: missing cn translations
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬cn, raidboss, needs-review

#450 oopsy: fix zoneId in r4n triggerSet
  ui/oopsyraidsy/data/07-dt/raid/r4n.ts
Labels: oopsy, needs-review, auto-merge

#452 i18n: FR translation update
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss, 💬fr, needs-review, auto-merge
