Repository OverlayPlugin/cactbot, pull requests merged in 2024-01, with the labels that each got.

#26 util: convert remaining python gen-data scripts
  resources/content_type.ts
  resources/hunt.ts
  resources/weather_rate.ts
  resources/zone_id.ts
  resources/zone_info.ts
  util/coinach.py
  util/csv_util.py
  util/csv_util.ts
  util/gen_hunt_data.py
  util/gen_hunt_data.ts
  util/gen_weather_rate.py
  util/gen_weather_rate.ts
  util/gen_zone_id_and_info.py
  util/gen_zone_id_and_info.ts
  util/xivapi.ts
  util/zone_overrides.ts
Labels: 💬ko, 💬cn, resources, util, 💬de, 💬ja, 💬fr

#29 i18n: FR translation update
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
Labels: raidboss, 💬fr, oopsy

#30 i18n: Eureka Orthos FR translation update
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_51-60.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_61-70.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
Labels: raidboss, 💬fr

#31 i18n: Mount Rokkon FR translation update
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_71-80.ts
  ui/raidboss/data/06-ew/dungeon/aetherfont.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
Labels: raidboss, 💬fr

#32 i18n: FR translation update
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
Labels: raidboss, 💬fr

#33 i18n: FR translation update (8)
  ui/raidboss/data/06-ew/raid/p10s.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p5s.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8n.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  ui/raidboss/data/06-ew/trial/rubicante.ts
  ui/raidboss/data/06-ew/trial/ultima-un.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/trial/zodiark-ex.ts
  ui/raidboss/raidboss_config.ts
  util/coverage/coverage.ts
  util/logtools/web_splitter.ts
Labels: raidboss, config, util, 💬fr

#34 i18n: FR Translation update (9) (Ultimate)
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/ultimate/dragonsongs_reprise_ultimate.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬fr

#35 i18n: FR Translation update (10)
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: raidboss, 💬fr

#28 util: update gen_data scripts to use xivapi library
  resources/effect_id.ts
  resources/pet_names.ts
  resources/world_id.ts
  util/coinach.ts
  util/gen_effect_id.ts
  util/gen_hunt_data.ts
  util/gen_pet_names.ts
  util/gen_weather_rate.ts
  util/gen_world_ids.ts
  util/gen_zone_id_and_info.ts
  util/xivapi.ts
Labels: 💬ko, 💬cn, resources, util, 💬de, 💬ja, 💬fr

#37 i18n: missing cn translations
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
  util/logtools/web_splitter.ts
Labels: 💬cn, raidboss, util

#38 docs: add documentation for 265 ContentFinderSettings line
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/gen_log_guide.ts
Labels: docs, resources, util

#39 docs: fix Log Guide typo
  LICENSE
  docs/LogGuide.md
Labels: docs

#36 util: add logging & err handling, docs updates
  docs/PatchUpdateChecklist.md
  util/README.md
  util/console_logger.ts
  util/gen_effect_id.ts
  util/gen_hunt_data.ts
  util/gen_pet_names.ts
  util/gen_weather_rate.ts
  util/gen_world_ids.ts
  util/gen_zone_id_and_info.ts
  util/generate_data_files.ts
  util/xivapi.ts
Labels: docs, util

#40 util: fix arg parsing for gen_data
  docs/PatchUpdateChecklist.md
  util/README.md
  util/console_logger.ts
  util/generate_data_files.ts
Labels: docs, util

#41 util: new XIVAPI CLI query tool
  docs/PatchUpdateChecklist.md
  package.json
  util/console_logger.ts
  util/index.ts
  util/query_xivapi.ts
  util/xivapi.ts
Labels: docs, util

#42 i18n: update ko translation
  ui/raidboss/data/06-ew/trial/rubicante-ex.ts
Labels: 💬ko, raidboss

#43 i18n: add 6.5 dungeon & alliance cn translations
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
Labels: 💬cn, raidboss

#45 i18n: update ko translations
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
Labels: raidboss

#46 resources/raidboss/oopsy: 6.55 update + skeletons
  resources/content_list.ts
  resources/content_type.ts
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/oopsyraidsy/data/06-ew/trial/asura.ts
  ui/raidboss/data/06-ew/trial/asura.ts
  ui/raidboss/data/06-ew/trial/asura.txt
  util/zone_overrides.ts
Labels: 💬ko, resources, raidboss, util, 💬de, 💬ja, 💬fr, oopsy

#48 util: fix filtering of 22 lines in splitter
  util/logtools/splitter.ts
Labels: util

#49 raidboss/oopsy: add triggers for Gilded Araya
  resources/util.ts
  ui/oopsyraidsy/data/06-ew/trial/asura.ts
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: resources, raidboss, oopsy

#50 raidboss: The Gilded Araya timeline
  ui/raidboss/data/06-ew/trial/asura.ts
  ui/raidboss/data/06-ew/trial/asura.txt
Labels: raidboss

#51 build: Bump version to 0.31.2
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#52 i18n: 6.55 trial translation
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: raidboss, 💬de

#54 i18n: add asura trial cn translations
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: 💬cn, raidboss

#55 ci: add npm compiler test to mocha
  test/unittests/compile_test.ts
Labels: test

#56 util: fix collision handling in gen_zone script
  util/gen_zone_id_and_info.ts
Labels: util

#57 i18n: Small FR mistake
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬fr
