Repository OverlayPlugin/cactbot, pull requests merged in 2024-05, with the labels that each got.

#141 docs: Log guide update
  docs/LogGuide.md
Labels: docs

#142 docs: update Log Guide TOC
  docs/LogGuide.md
Labels: docs, needs-review, auto-merge

#144 i18n: ja ultima weapon ultimate
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss, 💬ja

#146 i18n: ko-6.51
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: 💬ko, raidboss, oopsy, needs-review

#148 i18n: small FR typo fix
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
  util/logtools/web_splitter.ts
Labels: raidboss, util, 💬fr, needs-review, auto-merge

#151 i18n: FR fix Golbez Ex
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#155 i18n: cn-6.55
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/trial/asura.ts
  util/gen_log_guide.ts
  util/logtools/web_splitter.ts
Labels: 💬cn, raidboss, util
