Repository OverlayPlugin/cactbot, pull requests merged in 2024-04, with the labels that each got.

#113 resources: ko 6.5
  resources/zone_info.ts
  ui/jobs/jobs.ts
Labels: 💬ko, resources, jobs

#114 plugin: ko 6.5 FFXIVProcessKo.cs update
  plugin/CactbotEventSource/FFXIVProcessKo.cs
Labels: plugin

#115 i18n: ko 6.5 translations
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: 💬ko, raidboss, 💬ja, oopsy

#120 docs: Add `ActorControlSelfExtra`
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: docs, resources, util, needs-review, auto-merge

#123 docs: switch LogGuide example to hex
  docs/LogGuide.md
  util/gen_log_guide.ts
Labels: docs, util, needs-review, auto-merge

#121 resources: `ActorControlSelfExtra` splitter and unit tests
  docs/LogGuide.md
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  util/logtools/splitter.ts
Labels: docs, util, test, needs-review, auto-merge

#126 i18n: update aloalo island lala cn translate
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: 💬cn, raidboss

#109 util: refactor/automate log splitter (1 of 3)
  resources/netlog_defs.ts
  util/logtools/anonymizer.ts
  util/logtools/splitter.ts
Labels: resources, util

#130 i18n: cn-6.51
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  util/logtools/web_splitter.ts
Labels: 💬cn, raidboss, util, oopsy

#131 raidemulator: Fix bug with keepalive timers
  ui/raidboss/emulator/overrides/RaidEmulatorTimeline.ts
Labels: raidemulator

#127 resources: rename logdef types
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  types/net_fields.d.ts
  types/net_props.d.ts
  ui/raidboss/timeline_parser.ts
  util/gen_log_guide.ts
  util/logtools/anonymizer.ts
  util/logtools/splitter.ts
Labels: resources, raidboss, util

#132 util: ignore missing translations in gen_zone script
  util/gen_zone_id_and_info.ts
Labels: util

#133 i18n: missing WebSplitter FR translations
  util/logtools/web_splitter.ts
Labels: util, 💬fr, needs-review, auto-merge

#128 util: refactor splitter pt. 2 (auto-updater)
  .github/logdef_update_pr_template.md
  .github/workflows/update_logdefs.yml
  package-lock.json
  package.json
  resources/netlog_defs.ts
  ui/raidboss/timeline_parser.ts
  util/logtools/web_splitter.ts
  util/update_logdefs.ts
Labels: docs, resources, raidboss, util, ci

#134 i18n: FR update
  util/logtools/web_splitter.ts
Labels: util, 💬fr, needs-review, auto-merge

#136 ci: add missing markdown to logdef template
  .github/logdef_update_pr_template.md
Labels: docs, needs-review, auto-merge

#137 resources: move example log lines to new file
  resources/example_log_lines.ts
  resources/regexes.ts
  util/gen_log_guide.ts
Labels: resources, util
