Repository OverlayPlugin/cactbot, pull requests merged in 2024-07, with the labels that each got.

#182 plugin: 7.0 memory signatures
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#186 build: Bump version to 0.32.0
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#188 raidboss: initial ex1
  ui/oopsyraidsy/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.txt
Labels: raidboss, oopsy

#193 build: Bump version to 0.32.1
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#195 i18n: dt ex1 timeline translation
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
Labels: 💬cn, raidboss, 💬de

#194 jobs: add pct job details struct
  plugin/CactbotEventSource/FFXIVProcess.cs
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/test/test.ts
Labels: plugin, test, needs-review, auto-merge

#198 i18n: add translations for game patch titles
  ui/config/config.ts
  util/coverage/coverage.ts
Labels: config, util, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#199 i18n: add ja translations in raidboss test trigger
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss, 💬ja, needs-review, auto-merge

#204 jobs: gameversion and compatible
  ui/jobs/components/pld.ts
  ui/jobs/jobs.ts
Labels: 💬de, 💬ja, 💬fr, needs-review, jobs

#206 jobs: update level para
  ui/jobs/constants.ts
Labels: needs-review, jobs

#203 jobs: BRD DT changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  resources/effect_id.ts
  types/event.d.ts
  ui/jobs/components/brd.ts
  util/gen_effect_id.ts
Labels: resources, util, 💬de, 💬ja, 💬fr, plugin, jobs

#200 i18n: DT Ex1 FR translation
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#208 dps: update rdmty with vpr/pct job colors
  ui/dps/rdmty/dps.css
Labels: needs-review, dps, auto-merge

#201 i18n: DT Ex1 JA translation
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
Labels: raidboss, 💬ja

#202 jobs: update ninja component
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/index.ts
  ui/jobs/components/nin.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, jobs

#209 jobs: update accurate level modifiers
  ui/jobs/constants.ts
Labels: jobs

#211 jobs: pulse kazematoi box when getting 4+
  ui/jobs/components/nin.ts
Labels: jobs

#215 util: Fix bug in fflogs tool
  util/logtools/fflogs.ts
Labels: util, needs-review, auto-merge

#214 i18n: DT Ex1 KO translation
  resources/outputs.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
Labels: 💬ko, resources, raidboss

#213 jobs: NIN update pulse condition and raidbuff position
  ui/jobs/components/nin.ts
  ui/jobs/jobs.css
Labels: jobs

#212 jobs: update combo tracker
  ui/jobs/combo_tracker.ts
  ui/jobs/constants.ts
Labels: needs-review, jobs

#210 jobs: buff tracker update
  resources/effect_id.ts
  resources/ffxiv/status/dokumori.png
  resources/ffxiv/status/starry-muse.png
  ui/jobs/buff_tracker.ts
  ui/jobs/constants.ts
  util/gen_effect_id.ts
Labels: resources, util, jobs

#216 raidboss: ex2 timeline+triggers
  resources/outputs.ts
  ui/oopsyraidsy/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.txt
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr, oopsy

#217 build: Bump version to 0.32.2
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#187 plugin: fix crash during act shutdown
  plugin/CactbotEventSource/CactbotEventSource.cs
Labels: plugin

#220 docs: minor updates
  CONTRIBUTING.md
  docs/PatchUpdateChecklist.md
Labels: docs

#221 i18n: add ex2 translations
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss, 💬de

#223 raidboss: more ex2
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss

#227 i18n: fix cn translations
  resources/outputs.ts
  ui/raidboss/data/03-hw/trial/thordan-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/06-ew/trial/thordan-un.ts
Labels: 💬cn, resources, raidboss

#224 jobs: DRK DT changes
  ui/jobs/components/drk.ts
  ui/jobs/components/index.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#229 jobs: WHM DT changes
  ui/jobs/components/whm.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#226 jobs: SAM DT changes
  ui/jobs/components/sam.ts
  ui/jobs/constants.ts
Labels: jobs

#225 jobs: MCH DT changes
  ui/jobs/components/mch.ts
Labels: jobs

#228 jobs: SGE DT changes
  ui/jobs/components/sge.ts
Labels: jobs

#231 jobs: update DT speedbuff and fix default true
  resources/effect_id.ts
  ui/jobs/components/vpr.ts
  ui/jobs/player.ts
  ui/jobs/utils.ts
  util/gen_effect_id.ts
Labels: resources, util, needs-review, jobs

#205 jobs: implement PCT job component / fix typos
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/pct.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, needs-review, jobs, auto-merge

#235 jobs: DRG DT changes
  ui/jobs/components/drg.ts
  ui/jobs/components/index.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#232 jobs: PLD DT changes
  ui/jobs/components/index.ts
  ui/jobs/components/pld.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#234 jobs: MNK DT changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mnk.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, jobs

#233 jobs: AST DT changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/index.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, jobs

#172 util: add 0x16 example lines to unit tests
  test/helper/example_log_lines_test_data.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  util/example_log_lines.ts
Labels: util, test, needs-review, auto-merge

#240 jobs: fix GCD calculation for non-globle GCD
  ui/jobs/player.ts
Labels: needs-review, jobs

#238 util: add new duty support allies to ignore list
  util/logtools/encounter_tools.ts
Labels: util, needs-review, auto-merge

#171 util: switch to xivapi beta
  resources/zone_info.ts
  util/gen_effect_id.ts
  util/gen_hunt_data.ts
  util/gen_pet_names.ts
  util/gen_weather_rate.ts
  util/gen_world_ids.ts
  util/gen_zone_id_and_info.ts
  util/xivapi.ts
Labels: resources, util, 💬de, 💬ja, 💬fr

#242 resources: 7.01 updates + content skeletons
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/oopsyraidsy/data/07-dt/raid/r1n.ts
  ui/oopsyraidsy/data/07-dt/raid/r2n.ts
  ui/oopsyraidsy/data/07-dt/raid/r3n.ts
  ui/oopsyraidsy/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r1n.txt
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r2n.txt
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r3n.txt
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4n.txt
Labels: resources, raidboss, 💬de, 💬ja, 💬fr, oopsy

#246 jobs: DNC DT changes
  ui/jobs/components/dnc.ts
Labels: needs-review, jobs

#245 jobs: GNB DT changes
  ui/jobs/components/gnb.ts
  ui/jobs/constants.ts
Labels: needs-review, jobs

#247 jobs: 7.01 changes
  ui/jobs/components/ast.ts
  ui/jobs/components/mnk.ts
  ui/jobs/jobs.ts
Labels: 💬de, 💬ja, 💬fr, needs-review, jobs

#230 jobs: SCH fix broken dynamic AF threhold
  ui/jobs/components/sch.ts
  ui/jobs/jobs.css
Labels: jobs

#241 jobs: SMN DT changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/smn.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, jobs

#236 jobs: fix GCD not updated on buff change and init
  ui/jobs/components/ast.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/pct.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sch.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/whm.ts
  ui/jobs/player.ts
  ui/jobs/utils.ts
Labels: needs-review, jobs

#248 jobs: fix PCT/MCH chargeable AOE multicall
  ui/jobs/components/mch.ts
  ui/jobs/components/pct.ts
Labels: jobs

#249 i18n: Ex Trial FR translations
  resources/outputs.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: resources, raidboss, 💬fr, needs-review, auto-merge

#250 raidboss: Initial R1N
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r1n.txt
Labels: raidboss

#252 resources: add r1n-r4n to content list
  resources/content_list.ts
Labels: resources, needs-review, auto-merge

#239 raidboss: add msq level 91 timeline + triggers
  ui/oopsyraidsy/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.txt
Labels: raidboss, oopsy

#244 raidboss: R3N initial triggers/timeline
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r3n.txt
Labels: raidboss

#243 raidboss: Initial r2n triggers/timeline
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r2n.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬fr

#253 i18n: dt translation (91, r1n, ex2+)
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss, 💬de

#255 raidboss: r1n timeline tweaks
  ui/raidboss/data/07-dt/raid/r1n.txt
Labels: raidboss

#256 i18n: More dt raid translation
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
Labels: raidboss, 💬de, needs-review

#258 raidboss: Initial r4n
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4n.txt
Labels: raidboss

#257 build: Bump version to 0.32.3
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#260 i18n: DT EX2 Trial JA tranlation for triggers
  resources/outputs.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: resources, raidboss, 💬ja

#259 i18n: dt raid 4
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss, 💬de

#251 jobs: new job Viper support
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  resources/effect_id.ts
  types/event.d.ts
  ui/jobs/components/vpr.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
  util/gen_effect_id.ts
Labels: resources, util, plugin, test, needs-review, jobs

#254 jobs: BLM DT changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/bars.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/index.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
  ui/test/test.ts
Labels: plugin, test, jobs

#263 i18n: DD JA Translation Additions and Improvements
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_051-060.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_081-090.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_151-160.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_floors_181-190.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_general.ts
Labels: raidboss, 💬ja, needs-review

#262 i18n: DT EX2 Trial, raids, ihuykatumu CN tranlation
  resources/outputs.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬cn, resources, raidboss, needs-review, auto-merge

#264 i18n: add normal raid / ihuykatumu JP translation
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: raidboss, 💬ja

#190 build: enable user dir access for local webpack instance
  CONTRIBUTING.md
  webpack/webpack.config.ts
Labels: docs

#265 raidboss: fix R1N Black Cat Crossing
  resources/netlog_defs.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
Labels: resources, raidboss

#261 raidboss: More r4n triggers
  resources/util.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: resources, raidboss, 💬de, 💬ja, needs-review

#222 [WIP] util: Tool to auto generate basic triggers
  resources/outputs.ts
  util/logtools/generate_triggers.ts
Labels: 💬ko, 💬cn, resources, util, 💬de, 💬ja, 💬fr

#267 build: Bump version to 0.32.4
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#268 jobs: DNC add Finising Move support
  ui/jobs/components/dnc.ts
  ui/jobs/constants.ts
Labels: jobs

#269 i18n: update dt cn translations
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬cn, raidboss

#270 raidboss: add suppressSeconds on R2N Heartsick
  ui/raidboss/data/07-dt/raid/r2n.ts
Labels: raidboss

#277 jobs: fix Manafont cooldown changed with level
  ui/jobs/components/blm.ts
Labels: needs-review, jobs

#276 i18n: FR translations update
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  util/logtools/generate_triggers.ts
Labels: raidboss, util, 💬fr, needs-review, auto-merge

#278 i18n: dt ko translations
  resources/outputs.ts
  ui/raidboss/data/07-dt/dungeon/ihuykatumu.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬ko, resources, raidboss

#274 lint: several lint error fix
  resources/regexes.ts
  ui/config/config.ts
  ui/pullcounter/pullcounter.ts
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_config.ts
  util/logtools/generate_triggers.ts
Labels: resources, raidboss, config, util, pullcounter

#279 jobs: NIN right-side-icon fix and TA/dokumori duration fix
  ui/jobs/buff_tracker.ts
  ui/jobs/components/nin.ts
  ui/jobs/jobs.css
Labels: jobs

#281 jobs: fix combo tracker for AOE
  ui/jobs/combo_tracker.ts
Labels: jobs

#282 resources: add no mercy in effect id
  resources/effect_id.ts
  util/gen_effect_id.ts
Labels: resources, util

#284 i18n: jobs config CN/JP fix
  ui/jobs/jobs_config.ts
Labels: 💬cn, config, 💬ja, jobs

#285 jobs: update outdated jobs options
  ui/jobs/jobs_options.ts
  user/jobs-example.js
Labels: jobs

#287 raidboss: fix cn / jp translate error in r1n
  ui/raidboss/data/07-dt/raid/r1n.ts
Labels: 💬cn, raidboss, 💬ja

#289 resources: 7.05 updates + files
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/oopsyraidsy/data/07-dt/raid/r1s.ts
  ui/oopsyraidsy/data/07-dt/raid/r2s.ts
  ui/oopsyraidsy/data/07-dt/raid/r3s.ts
  ui/oopsyraidsy/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r1s.txt
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r2s.txt
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r3s.txt
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/raid/r4s.txt
Labels: resources, raidboss, 💬de, 💬ja, 💬fr, oopsy

#288 i18n: Add Missing Japanese Translations for Legacy Content
  resources/outputs.ts
  ui/oopsyraidsy/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/dungeon/amdapor_keep_hard.ts
  ui/raidboss/data/02-arr/dungeon/aurum_vale.ts
  ui/raidboss/data/02-arr/dungeon/halatali_hard.ts
  ui/raidboss/data/02-arr/dungeon/hullbreaker_isle.ts
  ui/raidboss/data/02-arr/dungeon/pharos_sirius.ts
  ui/raidboss/data/02-arr/dungeon/sastasha_hard.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_lost_city_of_amdapor.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/02-arr/dungeon/the_tam_tara_depocraft_hard.ts
  ui/raidboss/data/02-arr/dungeon/the_wanderers_palace_hard.ts
  ui/raidboss/data/03-hw/deepdungeon/the_palace_of_the_dead_general.ts
  ui/raidboss/data/03-hw/map/the_aquapolis.ts
  ui/raidboss/data/03-hw/raid/a10n.ts
  ui/raidboss/data/03-hw/raid/a3n.ts
  ui/raidboss/data/03-hw/trial/sephirot.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_21-30.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_61-70.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_general.ts
Labels: resources, raidboss, 💬ja, oopsy

#291 raidboss: r1s Initial timeline
  ui/raidboss/data/07-dt/raid/r1s.txt
Labels: raidboss

#293 raidboss: r1s left/right, tb, and aoe triggers
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: raidboss
