Repository OverlayPlugin/cactbot, pull requests merged in 2024-11, with the labels that each got.

#487 i18n: Raidboss general output&4.x content CN output overhaul
  resources/outputs.ts
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.ts
  ui/raidboss/data/04-sb/alliance/ridorana_lighthouse.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_51-60.ts
  ui/raidboss/data/04-sb/deepdungeon/heaven-on-high_floors_81-90.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/swallows_compass.ts
  ui/raidboss/data/04-sb/dungeon/temple_of_the_fist.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/raid/o10n.ts
  ui/raidboss/data/04-sb/raid/o10s.ts
  ui/raidboss/data/04-sb/raid/o11n.ts
  ui/raidboss/data/04-sb/raid/o11s.ts
  ui/raidboss/data/04-sb/raid/o12n.ts
  ui/raidboss/data/04-sb/raid/o12s.ts
  ui/raidboss/data/04-sb/raid/o1s.ts
  ui/raidboss/data/04-sb/raid/o2n.ts
  ui/raidboss/data/04-sb/raid/o2s.ts
  ui/raidboss/data/04-sb/raid/o3s.ts
  ui/raidboss/data/04-sb/raid/o4n.ts
  ui/raidboss/data/04-sb/raid/o4s.ts
  ui/raidboss/data/04-sb/raid/o5n.ts
  ui/raidboss/data/04-sb/raid/o5s.ts
  ui/raidboss/data/04-sb/raid/o6s.ts
  ui/raidboss/data/04-sb/raid/o7n.ts
  ui/raidboss/data/04-sb/raid/o7s.ts
  ui/raidboss/data/04-sb/raid/o8s.ts
  ui/raidboss/data/04-sb/raid/o9n.ts
  ui/raidboss/data/04-sb/raid/o9s.ts
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi-ex.ts
  ui/raidboss/data/04-sb/trial/lakshmi.ts
  ui/raidboss/data/04-sb/trial/seiryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu-ex.ts
  ui/raidboss/data/04-sb/trial/shinryu.ts
  ui/raidboss/data/04-sb/trial/susano-ex.ts
  ui/raidboss/data/04-sb/trial/yojimbo.ts
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: 💬cn, resources, raidboss, 💬ja, needs-review

#479 raidboss: add Cenote Ja Ja Gural treasure dungeon
  ui/raidboss/data/03-hw/map/the_aquapolis.ts
  ui/raidboss/data/04-sb/map/the_hidden_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_lost_canals_of_uznair.ts
  ui/raidboss/data/04-sb/map/the_shifting_altars_of_uznair.ts
  ui/raidboss/data/05-shb/map/the_dungeons_of_lyhe_ghiah.ts
  ui/raidboss/data/05-shb/map/the_shifting_oubliettes_of_lyhe_ghiah.ts
  ui/raidboss/data/06-ew/map/the_excitatron_6000.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/07-dt/map/cenote_ja_ja_gural.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#488 build: Bump version to 0.32.13
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#468 raidboss: add Mica the Magical Mu (worldboss: Living Memory)
  ui/raidboss/data/07-dt/hunts/living_memory.ts
Labels: raidboss, needs-review

#490 i18n: raidboss cn5x output overhaul
  resources/outputs.ts
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.ts
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.ts
  ui/raidboss/data/05-shb/dungeon/akadaemia_anyder.ts
  ui/raidboss/data/05-shb/dungeon/amaurot.ts
  ui/raidboss/data/05-shb/dungeon/heroes_gauntlet.ts
  ui/raidboss/data/05-shb/dungeon/holminster_switch.ts
  ui/raidboss/data/05-shb/dungeon/malikahs_well.ts
  ui/raidboss/data/05-shb/dungeon/matoyas_relict.ts
  ui/raidboss/data/05-shb/dungeon/mt_gulg.ts
  ui/raidboss/data/05-shb/dungeon/paglthan.ts
  ui/raidboss/data/05-shb/dungeon/the_grand_cosmos.ts
  ui/raidboss/data/05-shb/dungeon/twinning.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/raid/e10s.ts
  ui/raidboss/data/05-shb/raid/e11n.ts
  ui/raidboss/data/05-shb/raid/e11s.ts
  ui/raidboss/data/05-shb/raid/e12n.ts
  ui/raidboss/data/05-shb/raid/e12s.ts
  ui/raidboss/data/05-shb/raid/e1s.ts
  ui/raidboss/data/05-shb/raid/e2n.ts
  ui/raidboss/data/05-shb/raid/e2s.ts
  ui/raidboss/data/05-shb/raid/e3n.ts
  ui/raidboss/data/05-shb/raid/e3s.ts
  ui/raidboss/data/05-shb/raid/e4s.ts
  ui/raidboss/data/05-shb/raid/e5s.ts
  ui/raidboss/data/05-shb/raid/e6n.ts
  ui/raidboss/data/05-shb/raid/e7s.ts
  ui/raidboss/data/05-shb/raid/e8n.ts
  ui/raidboss/data/05-shb/raid/e8s.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/05-shb/trial/emerald_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades.ts
  ui/raidboss/data/05-shb/trial/innocence-ex.ts
  ui/raidboss/data/05-shb/trial/innocence.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon-ex.ts
  ui/raidboss/data/05-shb/trial/ruby_weapon.ts
  ui/raidboss/data/05-shb/trial/titania-ex.ts
  ui/raidboss/data/05-shb/trial/titania.ts
  ui/raidboss/data/05-shb/trial/wol-ex.ts
  ui/raidboss/data/05-shb/trial/wol.ts
Labels: 💬cn, resources, raidboss, 💬ja

#491 i18n: cn7.05
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/map/cenote_ja_ja_gural.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss

#494 resources: 7.1 global updates
  resources/content_type.ts
  resources/effect_id.ts
  resources/weather_rate.ts
  resources/zone_id.ts
  resources/zone_info.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/components/pld.ts
  util/zone_overrides.ts
Labels: 💬ko, 💬cn, resources, util, 💬de, 💬ja, 💬fr, needs-review, jobs, auto-merge

#495 resources: 7.1 resources cleanup
  resources/content_list.ts
  resources/content_type.ts
  ui/dps/dps_common.js
  ui/oopsyraidsy/oopsy_options.ts
  util/logtools/encounter_tools.ts
  util/zone_overrides.ts
Labels: resources, util, oopsy, needs-review, dps

#496 plugin: Fix offsets for global 7.1
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin, needs-review

#497 build: Bump version to 0.33.0
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review

#499 i18n: raidboss cn6x output overhaul
  ui/raidboss/data/06-ew/alliance/aglaia.ts
  ui/raidboss/data/06-ew/alliance/euphrosyne.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_41-50.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_81-90.ts
  ui/raidboss/data/06-ew/deepdungeon/eureka_orthos_floors_91-100.ts
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/lapis_manalis.ts
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.ts
  ui/raidboss/data/06-ew/dungeon/the_fell_court_of_troia.ts
  ui/raidboss/data/06-ew/dungeon/the_sildihn_subterrane.ts
  ui/raidboss/data/06-ew/dungeon/the_tower_of_zot.ts
  ui/raidboss/data/06-ew/dungeon/vanaspati.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/raid/p11n.ts
  ui/raidboss/data/06-ew/raid/p11s.ts
  ui/raidboss/data/06-ew/raid/p12n.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
  ui/raidboss/data/06-ew/raid/p2s.ts
  ui/raidboss/data/06-ew/raid/p3n.ts
  ui/raidboss/data/06-ew/raid/p4n.ts
  ui/raidboss/data/06-ew/raid/p4s.ts
  ui/raidboss/data/06-ew/raid/p5n.ts
  ui/raidboss/data/06-ew/raid/p6n.ts
  ui/raidboss/data/06-ew/raid/p6s.ts
  ui/raidboss/data/06-ew/raid/p7s.ts
  ui/raidboss/data/06-ew/raid/p8s.ts
  ui/raidboss/data/06-ew/raid/p9n.ts
  ui/raidboss/data/06-ew/raid/p9s.ts
  ui/raidboss/data/06-ew/trial/barbariccia-ex.ts
  ui/raidboss/data/06-ew/trial/endsinger.ts
  ui/raidboss/data/06-ew/trial/golbez-ex.ts
  ui/raidboss/data/06-ew/trial/golbez.ts
  ui/raidboss/data/06-ew/trial/hydaelyn-ex.ts
  ui/raidboss/data/06-ew/trial/hydaelyn.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
  ui/raidboss/data/06-ew/ultimate/the_omega_protocol.ts
Labels: 💬cn, raidboss

#500 i18n: raidboss cn7x output overhaul
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/valigarmanda-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
Labels: 💬cn, raidboss

#501 i18n: cn fix some mistakes
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss

#498 raidboss: ex3 initial
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#503 raidboss: ex3 timeline fix
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.txt
Labels: raidboss, needs-review, auto-merge

#505 i18n: ex3 cn translations
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
Labels: 💬cn, raidboss

#504 build: Bump version to 0.33.1
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#506 i18n: 7.1 FR update
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/map/cenote_ja_ja_gural.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#508 docs: update README (jobs part)
  README.md
  docs/zh-CN/README.md
  resources/ffxiv/jobs/pct-large.png
  resources/ffxiv/jobs/vpr-large.png
Labels: docs, 💬cn, resources

#509 docs: fix broken link
  docs/zh-CN/README.md
Labels: docs, 💬cn, needs-review, auto-merge

#510 i18n: update KO translations
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
Labels: 💬ko, raidboss, needs-review

#511 ci: Bump actions/upload-artifact to v4
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/label-pr.yml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/post-process.yml
  .github/workflows/python-lint.yml
  .github/workflows/release.yml
  .github/workflows/test-sync-files.yml
  .github/workflows/test-validate-versions.yml
  .github/workflows/test.yml
  .github/workflows/update-gh-pages.yml
  .github/workflows/update-triggers-branch.yml
  .github/workflows/workflow-lint.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  package.json
Labels: ci

#513 resources: 7.11 updates
  resources/content_list.ts
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#514 raidboss/oopsy: Add FRU skeleton files
  ui/oopsyraidsy/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss, oopsy

#515 raidboss: FRU initial P1 timeline
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss

#518 i18n: dt dungeon translations
  resources/outputs.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
Labels: resources, raidboss, 💬de

#519 i18n: More dt translations
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/map/cenote_ja_ja_gural.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
Labels: raidboss, 💬de

#517 i18n: Small UCoB fixes (mostly german)
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
Labels: raidboss, 💬de
