Repository OverlayPlugin/cactbot, pull requests merged in 2024-08, with the labels that each got.

#294 raidboss: Initial r2s
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r2s.txt
Labels: raidboss

#295 raidboss: More r1s triggers
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#298 i18n: R1S and R2S translations
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, 💬de

#300 i18n: Add Japanese translations for r1s triggers
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: raidboss, 💬ja, needs-review

#296 raidboss: Initial r3s
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r3s.txt
Labels: raidboss, needs-review

#302 i18n: R3S translations
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss, 💬de, needs-review

#301 i18n: add cn translate r1s r2s r3s
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss

#299 build: Bump version to 0.32.5
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#297 resources: yet another effect id solution
  resources/effect_id.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/vpr.ts
  util/gen_effect_id.ts
Labels: resources, util, jobs

#303 i18n: Add Japanese translations for r2s triggers
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, 💬ja, needs-review

#292 jobs: remove valuescale setting
  ui/jobs/bars.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/dnc.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/gnb.ts
  ui/jobs/components/mch.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/rdm.ts
  ui/jobs/components/rpr.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sch.ts
  ui/jobs/components/sge.ts
  ui/jobs/components/smn.ts
  ui/jobs/components/war.ts
  ui/jobs/components/whm.ts
Labels: jobs

#305 i18n: Add Japanese translations for r3s triggers
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss, 💬ja, needs-review

#304 jobs: VPR 7.05 changes
  README.md
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  types/event.d.ts
  ui/jobs/components/vpr.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: docs, plugin, jobs

#309 raidboss: r3s add fooboom Special triggers
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r3s.txt
Labels: raidboss

#312 i18n: missing de translations
  resources/outputs.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
  util/logtools/generate_triggers.ts
  util/logtools/web_splitter.ts
Labels: resources, raidboss, util, 💬de, needs-review

#313 i18n: Add Japanese translations for R3S new triggers
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss, 💬ja, needs-review

#306 i18n: improve cn r3s translate
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss

#314 resources: fix AbilityExtra log def
  resources/netlog_defs.ts
Labels: resources, needs-review, auto-merge

#315 resources: Add the new (as of 7.0) 21/22 line fields
  docs/LogGuide.md
  resources/netlog_defs.ts
  util/example_log_lines.ts
Labels: docs, resources, util

#320 i18n: add CN DT translate
  ui/config/config.ts
  util/coverage/coverage.ts
Labels: 💬cn, config, util

#318 i18n: r3s add fooboom Special triggers cn translate
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss, needs-review

#321 util: splitter/anonymizer fix
  resources/netlog_defs.ts
  util/logtools/anonymizer.ts
  util/logtools/splitter.ts
Labels: resources, util

#307 raidboss: More r1s triggers/fixes
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r1s.txt
Labels: raidboss

#273 raidboss: Add r1n mouser trigger
  ui/raidboss/data/07-dt/raid/r1n.ts
Labels: 💬cn, raidboss, 💬de, 💬ja

#311 raidboss: savage 4th floor
  resources/outputs.ts
  resources/util.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/raid/r4s.txt
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr

#290 raidboss: Initial Alexandria Package
  ui/oopsyraidsy/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/alexandria.txt
Labels: raidboss, oopsy, needs-review

#308 raidboss: Add heart debuff triggers
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, needs-review

#322 jobs: re-sort buff tracker
  ui/jobs/buff_tracker.ts
  user/jobs-example.js
Labels: jobs

#324 i18n: add r4s cn translate
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss, needs-review

#325 raidboss: r4s electrope edge 2 improvements
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss

#326 build: Bump version to 0.32.6
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#331 raidboss: Fix issue with KR/CN compatibility
  resources/netlog_defs.ts
Labels: resources

#330 i18n: add update r1s r2s r4s cn translate
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss

#333 i18n: fix a translation error in r3s
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss

#329 raidemulator: Fix bug with double seek in raidemulator
  ui/raidboss/emulator/data/RaidEmulator.ts
Labels: raidemulator

#332 i18n: Add Japanese translations for R4S triggers
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬ja

#337 raidboss: use suppressSeconds to avoid double-callout stacks
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss

#336 raidboss: add r2s alert for dropping puddles
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss

#345 raidboss: suppress multiple extra add callouts in titania
  ui/raidboss/data/05-shb/trial/titania-ex.ts
Labels: raidboss

#344 raidboss: R3S Updating Knuckle Sandwich timeline
  ui/raidboss/data/07-dt/raid/r3s.txt
Labels: raidboss

#334 i18n: add r4s translations
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬de, needs-review

#338 i18n: fix r4s Electrical Condenser Debuff cn translate
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, resources, raidboss, needs-review

#340 i18n: update ko translations
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: 💬ko, raidboss, needs-review

#341 i18n: add R4S Fulminous Field cn translate
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss

#347 i18n: Add Japanese translations for R1S, R2S triggers
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, 💬ja, needs-review

#352 i18n: add Korean translations for R1S ~ R3S
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬ko, raidboss

#350 i18n: de translation fixed + alexandria translations
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬de, needs-review

#353 i18n: dt savage cn translations fix
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss

#346 raidboss: fix misused IN in R4S
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss, 💬de, 💬ja

#355 resources: add M1S-M4S to content list
  resources/content_list.ts
Labels: resources, needs-review, auto-merge

#357 i18n: Add Japanese Translations for R4N Witch Hunt
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss, 💬ja, needs-review

#342 raidboss: add R4S Witchgleam Self Tracker reminder
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬cn, raidboss

#335 raidboss: R3S Tag Team 1/2, KB towers 2 lariat combo
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss

#343 raidboss: call tower or spread during beat 2
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, needs-review

#339 raidboss: avoid multiple callouts during r2s cone tankbuster
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss

#364 raidboss: add bewitching flight cast id
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, needs-review, auto-merge

#359 i18n: Add Korean translation for R4S, update r1s
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, resources, raidboss

#363 i18n: add r3s tag team and r2s beat 2 cn translations
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss

#367 i18n: r1s FR translation
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#356 raidboss: Additional M/R2S triggers
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr

#366 raidboss: r4s sunrise sabbath fix
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss

#365 raidboss: fix R1S stored quad leaps
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: raidboss

#316 raidboss: r3s Barbarous Barrage Uptime Knockback
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss, needs-review

#371 i18n: new Arkadion translations
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬de

#369 build: Bump version to 0.32.7
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#374 util: fix id bug in encounter tools
  util/logtools/encounter_tools.ts
Labels: util, needs-review, auto-merge

#348 raidboss: add R4S Midnight Sabbath wings and guns info
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#360 raidboss: Initial Deadwalk package
  ui/oopsyraidsy/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.txt
Labels: raidboss, oopsy

#372 i18n: add CN translate for new triggers
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: 💬cn, raidboss

#373 raidboss: add r3s bombarian special reminder
  ui/raidboss/data/07-dt/raid/r3s.ts
Labels: raidboss

#378 raidboss: add r4s aoe trigger
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss

#376 raidboss: add Urqopacha A-rank hunt marks
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
Labels: raidboss

#379 raidboss: add Kozama'uka A-rank hunt marks
  resources/outputs.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr, needs-review

#382 raidboss: add Shaaloani A-rank hunt marks
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
Labels: raidboss

#381 i18n: Add Japanese translations for R2S, R3S, R4S triggers
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, 💬ja

#384 raidboss: add Living Memory A-rank hunt marks
  ui/raidboss/data/07-dt/hunts/living_memory.ts
Labels: raidboss, needs-review

#383 raidboss: add Heritage Found A-rank hunt marks
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
Labels: raidboss

#387 resources: add NPC-source+target effects to analysis filter
  resources/netlog_defs.ts
Labels: resources, needs-review, auto-merge

#385 i18n: add cn translate for A-rank hunt
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
Labels: 💬cn, raidboss

#386 i18n: replace sync for dt hunts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: raidboss

#394 resources: 7.05h2 data file updates
  resources/world_id.ts
  resources/zone_info.ts
Labels: 💬cn, resources, needs-review, auto-merge

#392 i18n: translate more 7.x content
  ui/oopsyraidsy/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
  ui/raidboss/data/07-dt/trial/valigarmanda.txt
Labels: raidboss, 💬de, oopsy, needs-review

#389 build: release bump 0.32.8
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#395 raidboss: Deadwalk Träumerei Malicious Mist output change
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
Labels: raidboss, needs-review

#391 i18n: R2S ~ R4S, dungeon Korean translation
  ui/oopsyraidsy/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, raidboss, oopsy

#396 raidboss: fix cast ID for Aglaia Double Immolation
  ui/raidboss/data/06-ew/alliance/aglaia.ts
Labels: raidboss, needs-review

#397 i18n: r2s FR translation
  ui/raidboss/data/07-dt/raid/r2s.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#398 i18n: DT dungeon FR translation
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
Labels: raidboss, 💬fr, needs-review, auto-merge
