Repository OverlayPlugin/cactbot, pull requests merged in 2024-10, with the labels that each got.

#440 raidboss: fix Mouser timing issue in R1N/R1S
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r1s.ts
Labels: raidboss

#421 raidboss: add Ttokrrone (worldboss: Shaaloani)
  resources/outputs.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
Labels: resources, raidboss

#447 oopsy: refactor (fix) party tracking
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#449 oopsy: fix oopsy_viewer to support delay/suppress properties
  docs/OopsyraidsyGuide.md
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/oopsy_viewer.ts
Labels: docs, oopsy

#455 raidboss: include safe players when calling pass debuff
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#456 jobs: Replace rhizomata tracking to psyche
  ui/jobs/components/sge.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: jobs

#459 raidboss: update Left/Right Roll calls for consistency
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: raidboss, needs-review, auto-merge

#463 raidboss/oopsy: add Origenics (L99)
  ui/oopsyraidsy/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/origenics.txt
Labels: raidboss, oopsy

#465 raidboss: variable-length arrow substitution in tts
  ui/raidboss/popup-text.ts
Labels: raidboss, needs-review

#438 raidboss/oopsy: add Everkeep (normal) package
  resources/outputs.ts
  ui/oopsyraidsy/data/07-dt/trial/zoraal-ja.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.txt
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr, oopsy

#460 raidboss/oopsy: add Vanguard (L97)
  ui/oopsyraidsy/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.txt
Labels: raidboss, oopsy

#458 raidboss/oopsy: add Skydeep Cenote (L95)
  ui/oopsyraidsy/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.txt
Labels: raidboss, oopsy

#464 raidboss: M4S adjust Tail Thrust callouts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#454 raidboss/oopsy: add Worqor Zormor (L93)
  resources/outputs.ts
  ui/oopsyraidsy/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.txt
Labels: resources, raidboss, oopsy

#466 build: Bump version to 0.32.11
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#469 i18n: FR translation update
  resources/outputs.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
Labels: resources, raidboss, 💬fr, needs-review, auto-merge

#472 oopsy: fix lower-case player id
  ui/oopsyraidsy/damage_tracker.ts
  ui/oopsyraidsy/player_state_tracker.ts
Labels: oopsy

#470 test: add unit test for mid-sring long arrows
  test/helper/test_trigger.ts
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: 💬cn, raidboss, test

#473 i18n: TEA trigger CN translation fixing
  ui/raidboss/data/05-shb/ultimate/the_epic_of_alexander.ts
Labels: 💬cn, raidboss

#474 build: Bump version to 0.32.12
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#476 i18n: CN translation update
  resources/outputs.ts
  ui/raidboss/data/07-dt/dungeon/alexandria.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
Labels: 💬cn, resources, raidboss, needs-review

#478 raidboss: fix 2.x&general cn output
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/raid/t5.ts
  ui/raidboss/data/02-arr/raid/t6.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/02-arr/raid/t9.ts
Labels: 💬cn, raidboss, needs-review

#477 i18n: update KO translations
  resources/outputs.ts
  resources/party.ts
  ui/config/config.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
  util/coverage/coverage.ts
Labels: 💬ko, resources, raidboss, config, util

#480 raidboss: fix 3.x cn output
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/raid/a10n.ts
  ui/raidboss/data/03-hw/raid/a10s.ts
  ui/raidboss/data/03-hw/raid/a12n.ts
  ui/raidboss/data/03-hw/raid/a1s.ts
  ui/raidboss/data/03-hw/raid/a2s.ts
  ui/raidboss/data/03-hw/raid/a4s.ts
  ui/raidboss/data/03-hw/raid/a5s.ts
  ui/raidboss/data/03-hw/raid/a6n.ts
  ui/raidboss/data/03-hw/raid/a6s.ts
  ui/raidboss/data/03-hw/raid/a8n.ts
  ui/raidboss/data/03-hw/raid/a8s.ts
  ui/raidboss/data/03-hw/trial/sephirot-ex.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.ts
  ui/raidboss/data/03-hw/trial/zurvan-ex.ts
  ui/raidboss/data/06-ew/trial/sophia-un.ts
  ui/raidboss/data/06-ew/trial/zurvan-un.ts
Labels: 💬cn, raidboss, 💬ja

#461 raidboss: Tweak Twilight Sabbath triggers
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#481 resources: cn-7.01
  resources/hunt.ts
  resources/zone_info.ts
Labels: 💬ko, 💬cn, resources, needs-review

#482 i18n: cn-7.01
  ui/raidboss/data/07-dt/raid/r1n.ts
  ui/raidboss/data/07-dt/raid/r2n.ts
  ui/raidboss/data/07-dt/raid/r3n.ts
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss

#471 raidboss: tweak sidewise spark callouts
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#484 docs: update gen_effect_id
  docs/PatchUpdateChecklist.md
Labels: docs

#483 raidboss: use ActorControlExtra for sidewise spark cleaves
  ui/raidboss/data/07-dt/raid/r4n.ts
Labels: raidboss

#486 docs: fix docs invalid link
  docs/FAQ-Troubleshooting.md
  docs/TimelineGuide.md
  docs/ko-KR/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-CN/MemorySignatures.md
  docs/zh-CN/TimelineGuide.md
  docs/zh-TW/CactbotCustomization.md
Labels: docs, 💬ko, 💬cn

#453 raidboss: r4s strategy options for NA strats
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr
