Repository OverlayPlugin/cactbot, pull requests merged in 2024-03, with the labels that each got.

#72 ci: improve and automate issue/PR labels
  .github/scripts/auto-label.cjs
  .github/workflows/label-pr.yml
  .github/workflows/labels.yaml
Labels: ci

#76 docs: fix Customization guide typo
  docs/CactbotCustomization.md
Labels: docs, needs-review, auto-merge

#77 ci: fix permissions issue in label-pr workflow
  .github/workflows/label-pr.yml
Labels: ci, needs-review, auto-merge

#78 i18n: fix Customization guide typo in translated pages
  docs/ko-KR/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-TW/CactbotCustomization.md
Labels: docs, 💬ko, 💬cn, needs-review, auto-merge

#79 resources: cn-6.5
  resources/zone_info.ts
Labels: 💬cn, resources, needs-review

#80 i18n: cn-6.5
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/oopsyraidsy/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/alliance/thaleia.ts
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.ts
  ui/raidboss/data/06-ew/trial/zeromus-ex.ts
  ui/raidboss/data/06-ew/trial/zeromus.ts
Labels: 💬cn, raidboss, oopsy, needs-review

#81 plugin: update signatures and memory for cn 6.5
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin, needs-review

#75 resources: support for new OverlayPlugin log lines
  docs/LogGuide.md
  resources/netlog_defs.ts
  resources/netregexes.ts
  resources/regexes.ts
  test/unittests/netregex_test.ts
  test/unittests/regex_test.ts
  ui/raidboss/data/00-misc/test.ts
  util/gen_log_guide.ts
Labels: docs, resources, raidboss, util, test

#86 i18n: cn small fixes
  resources/outputs.ts
  ui/jobs/jobs.ts
Labels: 💬cn, resources, jobs

#87 raidemulator: Fix bug with first/last timestamp detection
  ui/raidboss/emulator/data/CombatantTracker.ts
Labels: raidemulator

#83 raidboss: update ucob to use NpcYell
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
Labels: raidboss

#90 raidboss: replace GameLog lines (ARR)
  ui/raidboss/data/02-arr/dungeon/haukke_manor.ts
  ui/raidboss/data/02-arr/raid/t8.ts
  ui/raidboss/data/02-arr/trial/ifrit-nm.ts
  ui/raidboss/data/02-arr/trial/ifrit-nm.txt
Labels: raidboss

#82 ci: fix perms issue in label-pr workflow (round 2)
  .github/scripts/pr-review.cjs
  .github/workflows/label-pr-review.yml
  .github/workflows/label-pr.yml
  .github/workflows/lint-pr-title.yaml
Labels: ci

#92 util: add new OP lines to log splitter
  util/logtools/splitter.ts
Labels: util

#89 raidboss: asura ActorSetPos update
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: raidboss

#95 raidboss: replace GameLog lines (HW)
  ui/raidboss/data/03-hw/alliance/dun_scaith.ts
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/raid/a11s.ts
Labels: raidboss

#103 i18n: misc FR translations
  ui/raidboss/data/00-misc/test.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#102 raidboss: replace GameLog lines (EW)
  ui/raidboss/data/06-ew/trial/endsinger.txt
Labels: raidboss, needs-review, auto-merge

#99 raidboss: replace GameLog lines (SB)
  ui/raidboss/data/04-sb/alliance/orbonne_monastery.txt
  ui/raidboss/data/04-sb/alliance/royal_city_of_rabanastre.txt
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.txt
  ui/raidboss/data/04-sb/eureka/eureka_anemos.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o12n.txt
  ui/raidboss/data/04-sb/raid/o12s.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/04-sb/trial/byakko-ex.ts
  ui/raidboss/data/04-sb/trial/tsukuyomi-ex.ts
Labels: raidboss

#101 raidboss: replace GameLog lines (ShB)
  ui/raidboss/data/05-shb/alliance/the_copied_factory.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/trial/hades-ex.ts
  ui/raidboss/data/05-shb/trial/hades-ex.txt
Labels: raidboss

#97 util: add export-all option to web splitter
  resources/netlog_defs.ts
  util/logtools/split_log.ts
  util/logtools/splitter.css
  util/logtools/splitter.html
  util/logtools/splitter.ts
  util/logtools/web_splitter.ts
Labels: resources, util

#104 i18n: update KO translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: 💬ko, raidboss, needs-review

#105 raidboss: fix bug in bozja CLL timeline
  docs/TimelineGuide.md
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
Labels: docs, raidboss, needs-review, auto-merge

#100 ci: fix pr-review handling of review comments
  .github/scripts/pr-review.cjs
Labels: ci

#107 raidboss: Add missing properties from OverlayPlugin
  resources/netlog_defs.ts
  types/event.d.ts
  ui/raidboss/emulator/data/network_log_converter/LineEvent0x105.ts
Labels: resources, raidemulator

#110 ci: add check for "point-zero" timeline lint
  test/helper/test_timeline.ts
  ui/raidboss/data/03-hw/trial/sophia-ex.txt
  ui/raidboss/data/03-hw/trial/zurvan-ex.txt
  ui/raidboss/data/05-shb/alliance/the_puppets_bunker.txt
  ui/raidboss/data/05-shb/alliance/the_tower_at_paradigms_breach.txt
  ui/raidboss/data/05-shb/dungeon/heroes_gauntlet.txt
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.txt
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.txt
  ui/raidboss/data/05-shb/eureka/zadnor.txt
  ui/raidboss/data/05-shb/raid/e11s.txt
  ui/raidboss/data/05-shb/raid/e12n.txt
  ui/raidboss/data/05-shb/raid/e1n.txt
  ui/raidboss/data/05-shb/raid/e1s.txt
  ui/raidboss/data/05-shb/raid/e5n.txt
  ui/raidboss/data/05-shb/raid/e7n.txt
  ui/raidboss/data/05-shb/trial/wol-ex.txt
  ui/raidboss/data/06-ew/dungeon/alzadaals_legacy.txt
  ui/raidboss/data/06-ew/dungeon/mount_rokkon.txt
  ui/raidboss/data/06-ew/dungeon/the_aitiascope.txt
  ui/raidboss/data/06-ew/dungeon/the_lunar_subterrane.txt
  ui/raidboss/data/06-ew/dungeon/the_tower_of_babil.txt
  ui/raidboss/data/06-ew/raid/p11s.txt
  ui/raidboss/data/06-ew/raid/p2n.txt
  ui/raidboss/data/06-ew/raid/p3n.txt
  ui/raidboss/data/06-ew/trial/golbez-ex.txt
  ui/raidboss/data/06-ew/trial/sophia-un.txt
  ui/raidboss/data/06-ew/trial/ultima-un.txt
  ui/raidboss/data/06-ew/trial/zurvan-un.txt
Labels: raidboss, test

#111 ci/raidboss: timeline float lint 2: lint harder (sb)
  test/helper/test_timeline.ts
  ui/raidboss/data/04-sb/dungeon/ala_mhigo.txt
  ui/raidboss/data/04-sb/dungeon/bardams_mettle.txt
  ui/raidboss/data/04-sb/dungeon/castrum_abania.txt
  ui/raidboss/data/04-sb/dungeon/doma_castle.txt
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.txt
  ui/raidboss/data/04-sb/dungeon/fractal_continuum_hard.txt
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.txt
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark64.txt
  ui/raidboss/data/04-sb/dungeon/swallows_compass.txt
  ui/raidboss/data/04-sb/raid/o11n.txt
  ui/raidboss/data/04-sb/raid/o12s.txt
  ui/raidboss/data/04-sb/raid/o3n.txt
  ui/raidboss/data/04-sb/raid/o6s.txt
  ui/raidboss/data/04-sb/raid/o9n.txt
  ui/raidboss/data/04-sb/trial/lakshmi.txt
  ui/raidboss/data/04-sb/trial/suzaku.txt
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
Labels: raidboss, test

#112 ci/raidboss: floatlint 3: return of the float lint (arr+hw)
  test/helper/test_timeline.ts
  ui/raidboss/data/02-arr/trial/titan-hm.txt
  ui/raidboss/data/02-arr/trial/titan-nm.txt
  ui/raidboss/data/02-arr/trial/ultima-ex.txt
  ui/raidboss/data/03-hw/alliance/dun_scaith.txt
  ui/raidboss/data/03-hw/alliance/weeping_city.txt
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.txt
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.txt
  ui/raidboss/data/03-hw/dungeon/fractal_continuum.txt
  ui/raidboss/data/03-hw/dungeon/gubal_library_hard.txt
  ui/raidboss/data/03-hw/dungeon/sohm_al.txt
  ui/raidboss/data/03-hw/dungeon/the_lost_city_of_amdapor_hard.txt
Labels: raidboss, test
