Repository OverlayPlugin/cactbot, pull requests merged in 2024-02, with the labels that each got.

#60 i18n: asura FR translation
  ui/raidboss/data/06-ew/trial/asura.ts
Labels: raidboss, 💬fr

#61 i18n: add aloalo island cn translate
  ui/raidboss/data/06-ew/dungeon/aloalo_island.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island-savage.ts
  ui/raidboss/data/06-ew/dungeon/another_aloalo_island.ts
Labels: 💬cn, raidboss

#63 raidboss: fix shrinking timeline issue
  ui/raidboss/timeline.ts
Labels: raidboss

#62 ci: improve release workflow
  .github/workflows/release.yml
  CONTRIBUTING.md
  package.json
  util/do_release.ts
Labels: docs, util, ci

#66 ci: fix conditional in release workflow
  .github/workflows/release.yml
Labels: ci

#67 ci: add workflow linter
  .github/scripts/lint-workflow.cjs
  .github/workflows/build-artifact.yml
  .github/workflows/css-lint.yml
  .github/workflows/javascript-lint.yml
  .github/workflows/labels.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/python-lint.yml
  .github/workflows/release.yml
  .github/workflows/test-sync-files.yml
  .github/workflows/test-validate-versions.yml
  .github/workflows/update-gh-pages.yml
  .github/workflows/update-triggers-branch.yml
  .github/workflows/workflow-lint.yml
  .yamllint.yml
  package.json
  requirements.txt
Labels: ci

#71 ci: update issue templates to use forms
  .github/ISSUE_TEMPLATE/01-bug_report.yml
  .github/ISSUE_TEMPLATE/02-question.yml
  .github/ISSUE_TEMPLATE/03-feature_request.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: docs

#73 i18n: FR translation adjustment
  ui/raidboss/data/04-sb/dungeon/the_burn.ts
  ui/raidboss/data/06-ew/raid/p12s.ts
Labels: raidboss, 💬fr

#74 build: Bump version to 0.31.3
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin
