Repository OverlayPlugin/cactbot, pull requests merged in 2025-01, with the labels that each got.

#554 i18n: misc FR translation
  ui/raidboss/data/07-dt/dungeon/origenics.ts
  ui/raidboss/data/07-dt/dungeon/skydeep-cenote.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/data/07-dt/dungeon/worqor-zormor.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
  util/coverage/coverage.ts
Labels: raidboss, util, 💬fr, needs-review, auto-merge

#551 raidboss: Cloud of Darkness Chaotic
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#558 i18n: cloud of darkness chaotic translations
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
Labels: raidboss, 💬de

#557 i18n: cloud_of_darkness_chaotic cn
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
Labels: 💬cn, raidboss

#555 raidboss: fix bug with delays + countdowns
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/07-dt/dungeon/vanguard.ts
  ui/raidboss/popup-text.ts
Labels: raidboss

#544 raidboss/oopsy: Add Jeuno First Walk package
  ui/oopsyraidsy/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr, oopsy

#562 resources: tweak GainsEffect/LosesEffect analysis filters
  resources/netlog_defs.ts
Labels: resources, needs-review, auto-merge

#563 util: Coverage Report additions
  package-lock.json
  package.json
  types/trigger.d.ts
  ui/config/config.ts
  util/coverage/coverage.css
  util/coverage/coverage.d.ts
  util/coverage/coverage.ts
  util/coverage/coverage_report.ts
  util/gen_coverage_report.ts
Labels: config, util

#564 util: Fix coverage report action
  .github/workflows/update-gh-pages.yml
Labels: ci

#560 i18n: cloud_of_darkness_chaotic jp
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
Labels: raidboss, 💬ja

#559 config: fix skin files path
  resources/user_config.ts
Labels: resources

#542 raidboss: Add Interphos triggers/timeline
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#567 i18n: add Interphos cn translations
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
Labels: 💬cn, raidboss

#566 i18n: add jeuno first walk cn translations
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
Labels: 💬cn, raidboss

#569 i18n: update ko translations
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/05-shb/raid/e9s.ts
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
Labels: 💬ko, raidboss, needs-review

#556 raidemulator: Fix trigger popup text not showing up
  ui/raidboss/emulator/overrides/RaidEmulatorTimelineUI.ts
  ui/raidboss/raidemulator.ts
Labels: raidemulator

#568 docs/raidboss: add coverage comments
  docs/RaidbossGuide.md
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/trial/bismarck-ex.ts
  ui/raidboss/data/03-hw/trial/ravana-ex.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/the_burn.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/04-sb/hunts/yanxia.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: docs, raidboss

#571 ci: Fix label-pr.yml linting
  .github/workflows/label-pr.yml
Labels: ci

#572 util: More coverage report tweaks
  util/coverage/coverage.d.ts
  util/coverage/coverage.ts
  util/gen_coverage_report.ts
Labels: util, needs-review

#565 build: Bump version to 0.33.4
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#573 resources: ko 7.05
  resources/zone_info.ts
Labels: 💬ko, resources, needs-review

#538 raidboss: FRU - p2 + p3
  resources/responses.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: resources, raidboss

#576 i18n: ko r3s, r4s translation update
  ui/raidboss/data/07-dt/raid/r3s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
Labels: 💬ko, raidboss

#575 build: Bump version to 0.33.5
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review

#577 raidboss: Yuweyawata Field Station
  ui/oopsyraidsy/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/dungeon/yuweyawata.txt
Labels: raidboss, oopsy

#581 raidboss: more coverage comments
  resources/content_list.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/04-sb/hunts/yanxia.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: resources, raidboss

#579 util: New zone coverage report format
  ui/config/config.ts
  util/coverage/coverage.css
  util/coverage/coverage.d.ts
  util/coverage/coverage.html
  util/coverage/coverage.ts
  util/gen_coverage_report.ts
Labels: 💬ko, 💬cn, config, util, 💬de, 💬ja, 💬fr

#583 resources: 7.16
  resources/effect_id.ts
  resources/zone_id.ts
  resources/zone_info.ts
Labels: resources, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#584 raidboss: 7.16 chaotic rename
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.txt
Labels: raidboss

#585 docs: Update Log Guide for 264 AbilityExtra line changes
  docs/LogGuide.md
  resources/netlog_defs.ts
  test/helper/example_log_lines_test_data.ts
  util/example_log_lines.ts
Labels: docs, resources, util, test

#580 raidboss: FRU P3 - add swap reminders to Apoc stacks
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss

#591 raidboss: Fix issues with asura timeline syncs
  ui/raidboss/data/06-ew/trial/asura.ts
  ui/raidboss/data/06-ew/trial/asura.txt
Labels: raidboss

#578 raidboss: tweak timing/output for FRU P1 Fall of Faith
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja

#88 raidboss: UWU ActorSetPos Ifrit update
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: raidboss, needs-review

#586 raidboss: FRU missing translate
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss

#588 i18n: add FRU P2-P3 cn translate
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬cn, raidboss

#593 build: Bump version to 0.33.6
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#595 i18n: ja translations of jeuno-first-walk
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
Labels: raidboss, 💬ja
