Repository OverlayPlugin/cactbot, pull requests merged in 2025-09, with the labels that each got.

#777 raidboss: r8n triggers and timeline
  ui/raidboss/data/07-dt/raid/r8n.ts
  ui/raidboss/data/07-dt/raid/r8n.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#779 resources: KO 7.25
  resources/zone_info.ts
  util/coverage/coverage.ts
Labels: 💬ko, resources, util

#784 resources: cn-7.3
  resources/zone_info.ts
Labels: 💬cn, resources

#785 plugin: update signatures and memory for cn 7.3
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#789 i18n: More FR translations
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/04-sb/trial/seiryu-ex.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r8n.ts
  ui/raidboss/data/07-dt/raid/r8s.ts
  ui/raidboss/data/07-dt/trial/seiryu-un.ts
Labels: raidboss, 💬fr
