Repository OverlayPlugin/cactbot, pull requests merged in 2025-02, with the labels that each got.

#597 raidboss: Add query param to set remote raidboss
  ui/raidboss/raidboss.ts
Labels: raidboss

#592 raidboss: UWU add Titan jumps
  ui/raidboss/data/04-sb/ultimate/ultima_weapon_ultimate.ts
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#600 util: update xivapi url
  util/logtools/generate_triggers.ts
  util/xivapi.ts
Labels: util, needs-review, auto-merge

#602 resources: cn-7.1
  resources/zone_info.ts
Labels: 💬cn, resources

#603 i18n: cn7.1
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
Labels: 💬cn, raidboss

#604 i18n: missing cn translations
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.txt
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
Labels: raidboss

#605 i18n: queen-eternal small fixes
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.txt
Labels: raidboss

#606 plugin: update signatures and memory for cn 7.1
  plugin/CactbotEventSource/FFXIVProcessCn.cs
Labels: plugin

#607 build: Bump version to 0.33.7
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#582 raidboss: UCOB cleanup
  resources/util.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.txt
  ui/raidboss/emulator/EmulatorCommon.ts
Labels: resources, raidboss, raidemulator

#599 raidboss: FRU p4+p5 timeline cleanup
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.txt
Labels: raidboss

#608 build: Bump version to 0.33.8
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review
