Repository OverlayPlugin/cactbot, pull requests merged in 2025-04, with the labels that each got.

#641 raidboss: R5N timeline, basic triggers
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r5n.txt
Labels: raidboss

#642 util: fix weather rate schema in gen_zone_info
  util/gen_zone_id_and_info.ts
Labels: util

#635 jobs: clean up 6.X content
  ui/jobs/bars.ts
  ui/jobs/buff_tracker.ts
  ui/jobs/components/ast.ts
  ui/jobs/components/blm.ts
  ui/jobs/components/brd.ts
  ui/jobs/components/drg.ts
  ui/jobs/components/drk.ts
  ui/jobs/components/index.ts
  ui/jobs/components/mnk.ts
  ui/jobs/components/nin.ts
  ui/jobs/components/pld.ts
  ui/jobs/components/sam.ts
  ui/jobs/components/sge.ts
  ui/jobs/jobs.css
  ui/jobs/jobs.ts
  ui/jobs/utils.ts
Labels: 💬ko, 💬cn, 💬de, 💬ja, 💬fr, jobs

#638 jobs: BLM 7.2 refactor
  README.md
  docs/zh-CN/README.md
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
  ui/jobs/components/blm.ts
  ui/jobs/constants.ts
  ui/jobs/jobs.css
Labels: docs, 💬cn, 💬de, 💬ja, 💬fr, plugin, jobs

#643 raidboss: R6N timeline, basic triggers
  ui/raidboss/data/07-dt/raid/r6n.ts
  ui/raidboss/data/07-dt/raid/r6n.txt
Labels: raidboss

#644 i18n: add CN translate for zelenia ex
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
Labels: 💬cn, raidboss

#645 raidboss: update M5N/M6N tankbusters
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r6n.ts
Labels: raidboss

#646 raidboss: initial m5s triggers
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: 💬ko, 💬cn, resources, raidboss, 💬de, 💬ja, 💬fr

#647 build: Bump version to 0.34.2
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#649 i18n: add CN translate for r5s
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: 💬cn, raidboss

#651 i18n: add R6N CN translate
  ui/raidboss/data/07-dt/raid/r6n.ts
Labels: 💬cn, raidboss

#652 raidboss: add M5s merge order call
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: raidboss

#653 raidboss: improve M5n, M6n tankbuster calls
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r6n.ts
Labels: raidboss

#654 i18n: add KO translate for zelenia ex
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
Labels: 💬ko, raidboss

#650 raidboss: add R6s basic trigger
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r6s.txt
Labels: 💬cn, raidboss

#655 build: Bump version to 0.34.3
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#660 i18n: more r5s and rolePositions output cn translations
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: 💬cn, resources, raidboss

#658 raidboss: r5s: add missing X-snap Twist IDs
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: raidboss

#659 raidboss: Add timelineReplace for JA in r5s
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: raidboss

#661 i18n: add KO translate for R5S,R6S,R6N
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6n.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: 💬ko, raidboss

#663 i18n: add de translations for 7.2
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6n.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss, 💬de

#666 raidboss: More M6S
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r6s.txt
Labels: raidboss

#668 i18n: jeuno,r5s,r6n,r6s FR translations
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6n.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#672 raidboss: fix Double Style trigger
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss

#670 i18n: update r6s KO translations
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: 💬ko, raidboss

#674 i18n: update FRU, r6s KO translation
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, raidboss

#673 resources: KO 7.11
  resources/zone_info.ts
Labels: 💬ko, resources

#675 build: Bump version to 0.34.4
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#676 raidboss: add wakeUP trigger to DRS
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
Labels: raidboss

#678 util: make_timeline RSVData support
  resources/netregexes.ts
  util/logtools/encounter_tools.ts
  util/logtools/make_timeline.ts
Labels: resources, util

#679 raidboss: More fifth floor
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r5s.txt
Labels: raidboss

#682 raidboss: Add cactus triggers to m6s
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss

#665 i18n: Add Japanese translations to raidboss triggers
  resources/outputs.ts
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
Labels: resources, raidboss, 💬ja

#680 i18n: Add JA translations to r6s
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss, 💬ja

#685 i18n: Add JA translations to zelenia-ex
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
Labels: raidboss, 💬ja

#686 resources: cn-7.15
  resources/zone_info.ts
Labels: 💬cn, resources, needs-review

#684 raidboss: M7s
  ui/raidboss/data/07-dt/raid/r7s.ts
  ui/raidboss/data/07-dt/raid/r7s.txt
Labels: raidboss

#687 raidboss: move inactivity warning to general triggers
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/04-sb/eureka/eureka_anemos.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/delubrum_reginae_savage.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: raidboss

#688 resources: normalize capitalization in `outputs`
  resources/outputs.ts
Labels: resources, 💬ja

#689 i18n: cn7.15
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
  util/coverage/coverage.ts
Labels: 💬cn, raidboss, util, needs-review

#690 resources: 7.21
  resources/effect_id.ts
Labels: resources, needs-review, auto-merge

#691 build: Bump version to 0.34.5
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#694 raidboss: Add safety syncs to Arcadion 5 timeline
  ui/raidboss/data/07-dt/raid/r5s.txt
Labels: raidboss

#697 i18n: FR translation update
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
Labels: raidboss, 💬fr, auto-merge

#696 i18n: Add JA translations to zoraal-ja/zoraal-ja-ex
  ui/raidboss/data/07-dt/trial/zoraal-ja-ex.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
Labels: raidboss, 💬ja

#698 i18n: add r6s r7s CN translate
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: 💬cn, raidboss, 💬fr, needs-review, auto-merge

#699 i18n: zelenia-ex CN translate update
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
Labels: 💬cn, raidboss, needs-review, auto-merge

#702 i18n: Add m7s French boss translation.
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: raidboss

#683 raidboss: Add R6S thundercloud and tower triggers
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss

#701 i18n: more savage translations
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: raidboss, 💬de
