Repository OverlayPlugin/cactbot, pull requests merged in 2025-03, with the labels that each got.

#610 i18n: UCOB, jeuno ko translations
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  ui/raidboss/data/07-dt/alliance/jeuno-first-walk.ts
Labels: 💬ko, raidboss

#612 resources: cn-7.11
  resources/zone_info.ts
Labels: 💬cn, resources

#616 i18n: yuweyawata, queen, FRU ko translations
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, 💬cn, raidboss, needs-review

#617 raidboss: Fix FRU incorrect closing tags
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬cn, raidboss

#615 raidboss: fixing names for FRU triggers
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: raidboss, needs-review

#620 plugin: update signatures and memory for ko 7.1
  plugin/CactbotEventSource/FFXIVProcessKo.cs
Labels: plugin

#624 build: Bump version to 0.33.9
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review

#594 config: Add capability to disable/hide config options
  docs/RaidbossGuide.md
  resources/user_config.ts
  ui/config/config.ts
  ui/raidboss/raidboss_config.ts
Labels: docs, resources, raidboss, config

#629 raidboss: update FRU triggerSet comment
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, 💬cn, raidboss, needs-review, auto-merge

#630 plugin: 7.2 struct changes
  plugin/CactbotEventSource/FFXIVProcessIntl.cs
Labels: plugin

#631 build: Bump version to 0.34.0
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin

#634 i18n: FR translations update
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/trial/bismarck-ex.ts
  ui/raidboss/data/03-hw/trial/ravana-ex.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/the_burn.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pagos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/04-sb/hunts/yanxia.ts
  ui/raidboss/data/04-sb/ultimate/unending_coil_ultimate.ts
  util/coverage/coverage.ts
Labels: raidboss, util, 💬fr

#636 raidboss: Add 7.2 skeleton files
  ui/oopsyraidsy/data/07-dt/raid/r5n.ts
  ui/oopsyraidsy/data/07-dt/raid/r5s.ts
  ui/oopsyraidsy/data/07-dt/raid/r6n.ts
  ui/oopsyraidsy/data/07-dt/raid/r6s.ts
  ui/oopsyraidsy/data/07-dt/raid/r7n.ts
  ui/oopsyraidsy/data/07-dt/raid/r7s.ts
  ui/oopsyraidsy/data/07-dt/raid/r8n.ts
  ui/oopsyraidsy/data/07-dt/raid/r8s.ts
  ui/oopsyraidsy/data/07-dt/trial/zelenia-ex.ts
  ui/oopsyraidsy/data/07-dt/trial/zelenia.ts
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r5n.txt
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r5s.txt
  ui/raidboss/data/07-dt/raid/r6n.ts
  ui/raidboss/data/07-dt/raid/r6n.txt
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r6s.txt
  ui/raidboss/data/07-dt/raid/r7n.ts
  ui/raidboss/data/07-dt/raid/r7n.txt
  ui/raidboss/data/07-dt/raid/r7s.ts
  ui/raidboss/data/07-dt/raid/r7s.txt
  ui/raidboss/data/07-dt/raid/r8n.ts
  ui/raidboss/data/07-dt/raid/r8n.txt
  ui/raidboss/data/07-dt/raid/r8s.ts
  ui/raidboss/data/07-dt/raid/r8s.txt
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
  ui/raidboss/data/07-dt/trial/zelenia-ex.txt
  ui/raidboss/data/07-dt/trial/zelenia.ts
  ui/raidboss/data/07-dt/trial/zelenia.txt
Labels: raidboss, oopsy

#637 raidboss: Zelenia Ex
  ui/raidboss/data/07-dt/trial/zelenia-ex.ts
  ui/raidboss/data/07-dt/trial/zelenia-ex.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr

#640 build: Bump version to 0.34.1
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review

#633 lint: prevent prop use on data.party.member
  .eslintrc.cjs
  docs/RaidbossGuide.md
  eslint/cactbot-party-member-property-access.js
  ui/raidboss/data/07-dt/raid/r2s.ts
  ui/raidboss/data/07-dt/raid/r4s.ts
  ui/raidboss/data/07-dt/trial/zoraal-ja.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: docs, style, raidboss
