Repository OverlayPlugin/cactbot, pull requests merged in 2025-05, with the labels that each got.

#705 i18n: Add JA translations to queen-eternal/queen-eternal-ex
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
Labels: raidboss, 💬ja, needs-review

#703 i18n: Add JA translations to r7s
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: 💬cn, raidboss, 💬ja, needs-review

#704 i18n: Add JA translations to valigarmanda
  ui/raidboss/data/07-dt/trial/valigarmanda.ts
Labels: raidboss, 💬ja, needs-review

#706 i18n: update KO translations
  ui/raidboss/data/00-misc/general.ts
  ui/raidboss/data/00-misc/test.ts
  ui/raidboss/data/00-misc/the_masked_carnivale.ts
  ui/raidboss/data/02-arr/alliance/the_world_of_darkness.ts
  ui/raidboss/data/02-arr/dungeon/brayfloxs_longstop.ts
  ui/raidboss/data/02-arr/dungeon/snowcloak.ts
  ui/raidboss/data/02-arr/dungeon/the_sunken_temple_of_quarn.ts
  ui/raidboss/data/03-hw/dungeon/aetherochemical_research_facility.ts
  ui/raidboss/data/03-hw/dungeon/baelsars_wall.ts
  ui/raidboss/data/03-hw/dungeon/sohm_al.ts
  ui/raidboss/data/03-hw/dungeon/xelphatol.ts
  ui/raidboss/data/03-hw/pvp/shatter.ts
  ui/raidboss/data/03-hw/trial/bismarck-ex.ts
  ui/raidboss/data/03-hw/trial/ravana-ex.ts
  ui/raidboss/data/04-sb/dungeon/drowned_city_of_skalla.ts
  ui/raidboss/data/04-sb/dungeon/ghimlyt_dark.ts
  ui/raidboss/data/04-sb/dungeon/the_burn.ts
  ui/raidboss/data/04-sb/eureka/eureka_hydatos.ts
  ui/raidboss/data/04-sb/eureka/eureka_pyros.ts
  ui/raidboss/data/04-sb/hunts/yanxia.ts
  ui/raidboss/data/05-shb/etc/the_diadem.ts
  ui/raidboss/data/05-shb/eureka/bozjan_southern_front.ts
  ui/raidboss/data/05-shb/eureka/zadnor.ts
  ui/raidboss/data/05-shb/hunts/amh_araeng.ts
  ui/raidboss/data/05-shb/hunts/il_mheg.ts
  ui/raidboss/data/05-shb/hunts/kholusia.ts
  ui/raidboss/data/05-shb/hunts/lakeland.ts
  ui/raidboss/data/05-shb/hunts/ss_rank.ts
  ui/raidboss/data/05-shb/hunts/the_raktika_greatwood.ts
  ui/raidboss/data/05-shb/hunts/the_tempest.ts
  ui/raidboss/data/06-ew/hunts/elpis.ts
  ui/raidboss/data/06-ew/hunts/garlemald.ts
  ui/raidboss/data/06-ew/hunts/labyrinthos.ts
  ui/raidboss/data/06-ew/hunts/mare_lamentorum.ts
  ui/raidboss/data/06-ew/hunts/ss_rank.ts
  ui/raidboss/data/06-ew/hunts/thavnair.ts
  ui/raidboss/data/06-ew/hunts/ultima_thule.ts
  ui/raidboss/data/06-ew/map/the_shifting_gymnasion_agonon.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
Labels: 💬ko, raidboss, needs-review

#709 i18n: update r6s, r7s KO translations
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: 💬ko, raidboss

#656 raidboss: initial r8s triggers and timeline
  ui/raidboss/data/07-dt/raid/r8s.ts
  ui/raidboss/data/07-dt/raid/r8s.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr, needs-review, auto-merge

#712 raidboss: r8s timeline fixes and comments
  ui/raidboss/data/07-dt/raid/r8s.ts
  ui/raidboss/data/07-dt/raid/r8s.txt
Labels: raidboss

#713 i18n: savage translatuions
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
  ui/raidboss/data/07-dt/raid/r7s.ts
  ui/raidboss/data/07-dt/raid/r8s.ts
Labels: raidboss, 💬de

#714 resources: KO 7.15
  resources/zone_info.ts
Labels: 💬ko, resources, 💬fr, needs-review

#717 i18n: update KO cloud of darkness chaotic
  ui/raidboss/data/07-dt/alliance/cloud_of_darkness_chaotic.ts
  ui/raidboss/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, raidboss, needs-review

#715 build: Bump version to 0.34.6
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin
