Repository OverlayPlugin/cactbot, pull requests merged in 2025-06, with the labels that each got.

#711 raidboss: The Underkeep
  ui/oopsyraidsy/data/07-dt/dungeon/the_underkeep.ts
  ui/raidboss/data/07-dt/dungeon/the_underkeep.ts
  ui/raidboss/data/07-dt/dungeon/the_underkeep.txt
Labels: 💬ko, 💬cn, raidboss, 💬de, 💬ja, 💬fr, oopsy

#726 raidboss: r7s add pollen (roots) callout
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: raidboss

#724 raidboss: r8s champion's circuit counterclockwise fix
  ui/raidboss/data/07-dt/raid/r8s.ts
Labels: raidboss, needs-review, auto-merge

#728 i18n: Add JA translations to Zadnor
  ui/raidboss/data/05-shb/eureka/zadnor.ts
Labels: raidboss, 💬ja

#731 i18n: r6s CN translate update
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: 💬cn, raidboss

#707 oopsy: add FRU oopsy triggers
  ui/oopsyraidsy/data/07-dt/ultimate/futures_rewritten.ts
Labels: 💬ko, 💬cn, 💬de, 💬ja, 💬fr, oopsy

#735 i18n: FR Translation update
  ui/raidboss/data/07-dt/dungeon/the_underkeep.ts
  ui/raidboss/data/07-dt/dungeon/yuweyawata.ts
  ui/raidboss/data/07-dt/hunts/heritage_found.ts
  ui/raidboss/data/07-dt/hunts/kozamauka.ts
  ui/raidboss/data/07-dt/hunts/living_memory.ts
  ui/raidboss/data/07-dt/hunts/shaaloani.ts
  ui/raidboss/data/07-dt/hunts/ss_rank.ts
  ui/raidboss/data/07-dt/hunts/urqopacha.ts
  ui/raidboss/data/07-dt/hunts/yaktel.ts
  ui/raidboss/data/07-dt/raid/r5n.ts
  ui/raidboss/data/07-dt/raid/r5s.ts
  ui/raidboss/data/07-dt/raid/r6s.ts
Labels: raidboss, 💬fr

#734 raidboss: SpheneEx header fix and targetable line
  ui/raidboss/data/07-dt/trial/queen-eternal-ex.txt
Labels: raidboss

#738 i18n: r7s FR translation
  ui/raidboss/data/07-dt/raid/r7s.ts
Labels: raidboss, 💬fr, needs-review, auto-merge

#739 resources: cn-7.2
  resources/zone_info.ts
Labels: 💬cn, resources

#743 build: Bump version to 0.34.7
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin
