Repository OverlayPlugin/cactbot, pull requests merged in 2025-08, with the labels that each got.

#753 raidboss: r8s increase alert level for followups
  ui/raidboss/data/07-dt/raid/r8s.ts
Labels: raidboss

#756 build: Bump version to 0.35.0
  package-lock.json
  package.json
  plugin/CactbotEventSource/Properties/AssemblyInfo.cs
  plugin/CactbotOverlay/Properties/AssemblyInfo.cs
Labels: plugin, needs-review, auto-merge

#760 resources: cn-7.25
  resources/zone_info.ts
Labels: 💬cn, resources, needs-review

#761 i18n: cn7.25
  ui/eureka/zone_south_horn.ts
  ui/raidboss/data/02-arr/dungeon/cutters_cry.ts
  ui/raidboss/data/07-dt/eureka/occult_crescent_south_horn.ts
  ui/raidboss/data/07-dt/eureka/occult_crescent_south_horn.txt
  util/coverage/coverage.ts
Labels: 💬cn, raidboss, util, needs-review, eureka

#757 raidboss: WIP EX5
  ui/raidboss/data/07-dt/trial/necron-ex.ts
  ui/raidboss/data/07-dt/trial/necron-ex.txt
Labels: raidboss

#767 i18n: Add Japanese translations for Necron EX
  ui/raidboss/data/07-dt/trial/necron-ex.ts
Labels: raidboss, 💬ja

#772 i18n: Miscellaneous FR translation update
  resources/outputs.ts
  ui/raidboss/data/07-dt/raid/r7s.ts
  ui/raidboss/data/07-dt/trial/queen-eternal.ts
  ui/raidboss/emulator/translations.ts
  util/coverage/coverage.ts
Labels: resources, raidboss, util, 💬fr, needs-review, raidemulator, auto-merge

#771 i18n: Add JA translation for strayborough-deadwalk.ts
  ui/raidboss/data/07-dt/dungeon/strayborough-deadwalk.ts
Labels: raidboss, 💬ja

#769 i18n: Add JA translations to origenics.ts
  ui/raidboss/data/07-dt/dungeon/origenics.ts
Labels: raidboss, 💬ja

#773 i18n: ex5 KO translations
  ui/raidboss/data/07-dt/trial/necron-ex.ts
Labels: 💬ko, raidboss, needs-review, auto-merge

#762 raidboss: Add option to transform text output.
  docs/CactbotCustomization.md
  docs/ko-KR/CactbotCustomization.md
  docs/zh-CN/CactbotCustomization.md
  docs/zh-TW/CactbotCustomization.md
  ui/raidboss/popup-text.ts
  ui/raidboss/raidboss_options.ts
Labels: docs, 💬ko, 💬cn, raidboss

#736 raidboss: add timeline entry for Crystal Dragon
  ui/raidboss/data/07-dt/eureka/occult_crescent_south_horn.ts
  ui/raidboss/data/07-dt/eureka/occult_crescent_south_horn.txt
Labels: raidboss
